<template>
    <form @submit="submitForm">
        <div class="form-group">
            <label for="exampleTitle">Title</label>
            <input type="text" class="form-control" id="exampleTitle" placeholder="Enter Title" v-model="title"
                minlength="3">

        </div>
        <div class="form-group">
            <label for="exampleDescription">Description</label>
            <input type="text" class="form-control" id="exampleDescription" placeholder="Enter Description" v-model="body"
                minlength="3">
        </div>
        <div class="form-group">
            <label for="exampleInputTags">Tags</label>
            <input type="text" class="form-control" id="exampleInputTags" placeholder="Enter Tags" v-model="tags"
                minlength="3">
        </div>
        <div class="form-group">
            <label for="exampleInputTags">Reactions</label>
            <input type="text" class="form-control" id="exampleInputTags" placeholder="Likes" v-model="reactions">
        </div>
        <button class="btn btn-primary" type="submit">submit</button>
    </form>
</template>

<script>

export default {
    data() {
        return {
            title: '',
            body: '',
            tags: '',
            reactions: 1,
        };
    },

    methods: {
        submitForm(event) {
            console.log('submit')
            event.preventDefault();
            const tagArray = this.tags.split(',').map(tag => tag.trim()); // Split the tags string by commas and trim spaces
            const tagsWithoutSpaces = tagArray.filter(tag => tag !== ''); // Remove any empty tags
            const formData = {
                userId: 13,
                title: this.title,
                body: this.body,
                tags: tagsWithoutSpaces,
                reactions: this.reactions,

            };
            fetch('https://dummyjson.com/posts/add', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(formData)
            })
            this.$emit('post-added', formData)
            this.title = '';
            this.body = '';
            this.tags = '';
            this.reactions= '';
        }

    }
}
</script>

<style></style>