<template>
  <div>
    <a v-for="forumtag in tags" :key="forumtag" href="" class="tagLinks">#{{ forumtag }} </a>
  </div>
</template>

<script>
export default {
  props: ['tags'],
};
</script>

<style>
.tagLinks{
  margin: 7px;
}
</style>