<script setup>
import ForumTags from './ForumTags.vue';
import LikeButton from './LikeButton.vue';
import EditButton from './EditButton.vue';
import DeleteButton from './DeleteButton.vue';
import { useUserStore } from "../stores/counter";
// import { ref } from 'vue';
import { defineProps, ref, getCurrentInstance } from 'vue';
const store = useUserStore()
const props = defineProps(['filteredPosts'])
const editingPostId = ref(store.editingPostId);
const { emit } = getCurrentInstance();

const handleEditClick = (post) => {
    console.log('edit....')
    if (editingPostId.value === post.id) {
        // If the clicked post is already being edited, close it
        editingPostId.value = null;
    } else {
        // If another post is being edited, close it and open the clicked post for editing
        editingPostId.value = post.id;
    }
    store.editPost(post)
}

const handleLikeClick = (post)=>{
 store.incrementReactions(post.id)
}

const handleDeleteClick = (id)=>{
 store.deletePost(id)
}

</script>

<template>
    <div class="card-wrapper">
        <div class="card card-full-width">
            <ul class="list-group list-group-flush">
                <li v-for="post in filteredPosts" class="list-group-item" :key="post.id">
                    <div v-if="editingPostId !== post.id" class="checkbox-heading-wrapper">
                        <input type="checkbox" id="forumCheck" name="" value="" />
                        <h3 class="mainHeader">{{ post.title }}</h3>
                    </div>
                    <div v-else>
                        <input type="text" v-model="post.title" class="mainHeaderEditor">
                    </div>
                    <p>{{ post.body }}</p>
                    <div class="wrapper">
                        <LikeButton :reacted="post.reactions" @click="handleLikeClick(post)"></LikeButton>
                        &nbsp;
                        &nbsp;
                        <EditButton @click="handleEditClick(post)" />
                        &nbsp;
                        &nbsp;
                        <DeleteButton @click="handleDeleteClick(post.id)" />
                        <ForumTags :tags="post.tags"></ForumTags>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</template>

<style scoped>
.card-wrapper {
    margin-top: 15px;
}

.checkbox-heading-wrapper {
    display: flex;
    align-items: center;
}

.checkbox {
    margin-right: 10px;
    /* Adjust the value to control the spacing */
}

.card-full-width {
    width: 100%;
    max-width: 100%;
}

.mainHeader {
    margin-left: 20px;
}

.wrapper {
    display: flex;
}
</style>
