<template>
    <div>
        <div class="navContainer">
            <button class="btn btn-danger mx-4">Delete</button>
            <button class="btn btn-danger mx-3" @click="showAddList = !showAddList">Add</button>
            <form class="form-inline my-2 my-lg-0 ml-auto">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" v-model="search">
            </form>
        </div>
        <div v-if="showAddList">
            <AddListVue @post-added="handlePostAdded" />
            <!-- getting that emitted thing here -->
        </div>
        <ListForum :filteredPosts="filteredPosts"></ListForum>
        <!-- passing down props to form list component i.e filtered lisr-->
    </div>
</template>
  
<script setup>
import AddListVue from './AddList.vue';
import ListForum from './ListForum.vue';
import { ref ,  onMounted, computed } from "vue";
import { useUserStore } from "../stores/counter";
const store = useUserStore();
const search = ref('');
const showAddList = ref(false);

const getAllPosts = computed(() => {
    console.log(store.post , 'all post check')
    return store.getPost;
});

const handlePostAdded = (data) => {
    console.log(data , '......data')
    return store.addPost(data);
};
const filteredPosts = computed(() => {
    if (!store.post) {
        return [];
    }
    if (!search) {
        return store.post;
    }
    const searchTerm = search.value.toLowerCase();
    return store.post.filter(post =>
        post.title.toLowerCase().includes(searchTerm) ||
        post.tags.some(tag => tag.toLowerCase().includes(searchTerm))
    );
});

onMounted(() => {
    store.fetchPost();
});
</script>
  
<style>
.navContainer {
    display: flex;
}
</style>
  